.gradle
/build/
/iddd_agilepm/build/
/iddd_agilepm/.classpath
/iddd_agilepm/.project
/iddd_collaboration/build/
/iddd_collaboration/.classpath
/iddd_collaboration/.project
/iddd_common/build/
/iddd_common/.classpath
/iddd_common/.project
/iddd_identityaccess/build/
/iddd_identityaccess/.classpath
/iddd_identityaccess/.project
